.ChatWindow {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;
    max-width: 400px;
    width: 90vw;
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
    height: 600px;
}

.ChatWindow__titlebar {
    align-self: center;
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.ChatWindow__compose {
    position: fixed;
    bottom: 37px;
    max-width: 400px;
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(199, 199, 199);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    margin-left: -1px;
}

.ChatWindow__messages {
    margin-bottom: 50px;
}

.ChatWindow__compose__input {
    width: calc(100vw - 100px);
    height: 96%;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
}

.ChatWindow__compose__button--chat {
    width: auto;
    font-weight: 400;
    border-radius: 20px;
    align-self: center;
    margin-right: 10px;
}

.ChatWindow__compose__button--chat:hover {
    cursor: pointer;
    background-color: #5d3ccc;
}

.ChatWindow__messages__message--other {
    background-color: #f1f1f1;
    margin: 10px 0 10px 10px;
    width: fit-content;
    max-width: 75%;
    padding: 10px;
    border-radius: 20px;
}

.ChatWindow__messages__message__wrapper__inner {
    display: flex;
    flex-direction: column;
}

.ChatWindow__messages__message--self {
    background-color: #6a42ed;
    color: white;
    margin: 10px 10px 10px 0;
    width: fit-content;
    max-width: 75%;
    padding: 15px 20px;
    border-radius: 20px;
    align-self: flex-end;
}

.ChatWindow__messages__message__time {
    align-self: center;
    font-size: .8rem;
    color: #757575;
}